[Desktop Entry]
Version=0.1
Type=Application
Name=Gnitch
OnlyShowIn=GNOME;
NoDisplay=false
Comment=Reflex-Curses is a TUI/CLI wrapper around streamlink, allowing for easy launching of twitch.tv streams from your terminal.
Icon=gnome-twitch
Exec=/usr/bin/gnome-terminal --window --geometry=120x35 -- gnitch
Actions=
Categories=AudioVideo;Network;

#/usr/bin/gnome-terminal --window --geometry=120x35 -- 
